<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<!--引入头部导航栏模板-->
<div th:insert="~{navigation :: nav}"></div>
<hr/>
<div class="container-fluid w main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="border-right: 1px solid #efefef;position: relative">
            <h2><span class="glyphicon glyphicon-plus"></span>发起</h2>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">文章标题(简单扼要):</label>
                    <input type="text" autocomplete="off" class="form-control" id="title" name="title"
                           placeholder="文章标题。。。。" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">问题补充 (必填，请参照右侧提示):</label>
                    <textarea autocomplete="off" name="description" id="description" class="form-control" cols="30"
                              rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" autocomplete="off" class="form-control" id="tag" name="tag"
                           placeholder="输入标签，以，号隔开" th:value="${tag}">
                </div>
                <!--标签页-->
                <div id="nav-tabs" style="display: none">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="category:${tags}" class="category">
                            <a th:href="${'#'+category.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${category.categoryName}">开发语言</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top: 5px;">
                        <div role="tabpanel" class="tab-pane" th:id="${category.categoryName}" th:each="category:${tags}">
                            <span class="label label-info" style="margin: 0px 10px 10px 0;display:inline-block;line-height: 25px;"
                                  th:each="tag:${category.tags}">
                                <span class="glyphicon glyphicon-tags"></span>
                                <span style="font-size: 14px;cursor: pointer;" th:text="${tag}" onclick="selectTag(this)" th:data-tag="${tag}"></span>
                            </span>
                        </div>
                    </div>

                </div>
                <span class="alert alert-danger message" th:if="${error!=null}" th:text="${error}"></span>
                <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 30px;">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>

            <p>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</p>

            <p>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br>
                服务器运行环境信息；<br>
                软件版本；<br>
                问题发生的上下文信息；<br>
                可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br>
                补充完整的异常和错误信息；<br>
                注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</p>
            <p>• 选择标签: 选择一个或者多个合适的标签，不超过10个字</p>

            <p>• 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.</p>
        </div>
    </div>
</div>
<script src="/js/publish.js"></script>
</body>
</html>